body {
    text-align: center;
}

button {
    border-radius: 99px;
    padding: 5px 10px;
    color: white;
    background-color: green;
}

.input-area {
    display: none;
}

.play-area {
    font-size: 1.5rem;
    font-weight: 700;
}

.result-area {
    font-size: 1.5rem;
}